{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static '/assets/img/favicon.ico' %}"
      type="image/x-icon"
    />

    <title>Pecotech - Services</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Pecotech Power Services" />
    <meta
      name="description"
      content="Discover top-tier electrical services with Pecotech. Our experts specialize in residential and commercial solutions, ensuring safety, efficiency, and reliability. Contact us today for all your electrical needs."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pecotech.netlify.app/" />
    <meta property="og:title" content="Pecotech Power Services" />
    <meta
      property="og:description"
      content="Discover top-tier electrical services with Pecotech. Our experts specialize in residential and commercial solutions, ensuring safety, efficiency, and reliability. Contact us today for all your electrical needs."
    />
    <meta property="og:image" content="{% static './assets/img/flogo.webp' %}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://pecotech.netlify.app/" />
    <meta property="twitter:title" content="Pecotech Power Services" />
    <meta
      property="twitter:description"
      content="Discover top-tier electrical services with Pecotech. Our experts specialize in residential and commercial solutions, ensuring safety, efficiency, and reliability. Contact us today for all your electrical needs."
    />
    <meta property="twitter:image" content="{% static './assets/img/flogo.webp' %}" />

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static './assets/vendor/all.min.css' %}" />
  </head>
  <body class="font-[Montserrat]">
    <!-- TOP BANNER -->
   {% include "components/navbar.html" %}
    <!--############## END OF NAV ############## -->

    <!-- ############ BEGIN HERO ############### -->
    <div class="bg-breadcrum">
      <section
        class="text-white backdrop-brightness-50 h-full py-[58px] lg:py-[85px]"
      >
        <div class="pad">
          <h4 class="font-semibold md:text-2xl">
            Home <i class="fa-solid fa-angles-right mx-2"></i>
            <span class="text-primary">Services</span>
          </h4>
          <h1 class="text-4xl md:text-5xl lg:text-6xl mt-2 font-extrabold">
            <span class="border-b-4 border-b-primary">Servic</span>es
          </h1>
        </div>
      </section>
    </div>
    <!-- ############## END HERO ########### -->
    <!-- ############## SERVICE CONTENT ############-->
    <section>
      <div class="pad">
        <div class="text-center">
          <h1 class="text-2xl md:text-5xl lg:text-7xl font-bold">
            Make the right call for all your project -
            <span class="text-grey">Small & Large.</span>
          </h1>
        </div>

        <h2 class="font-semibold text-2xl mt-4 md:text-3xl lg:text-4xl md:mt-8">
          Explore our
          <span class="text-primary border-b-2 border-b-grey">services</span>
        </h2>

        <div class="flex flex-col md:flex-row mt-6 gap-3 shadow-xl">
          <div class="md:max-w-[45%] lg:max-w-[38%]">
            <img src="{% static './assets/img/home.webp' %}" alt="home automation" />
          </div>
          <div class="p-3 md:w-[55%] flex items-center">
            <div>
              <h2 class="font-semibold text-xl md:text-2xl">Home Automation</h2>
              <p class="my-3 md:my-4 md:text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                placeat, minima quas recusandae dicta explicabo repellendus iste
                fugit molestiae aspernatur. Sunt laborum repudiandae voluptatum
                sapiente cumque obcaecati non commodi laboriosam.
              </p>
              <p
                class="text-primary underline serviceFormBtn font-semibold cursor-pointer"
              >
                REQUEST SERVICE
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row-reverse mt-6 gap-3 shadow-xl">
          <div class="md:max-w-[45%] lg:max-w-[38%]">
            <img src="{% static './assets/img/elec.webp' %}" alt="home automation" />
          </div>
          <div class="p-3 md:w-[55%] flex items-center">
            <div>
              <h2 class="font-semibold text-xl md:text-2xl">
                Electrical Wiring
              </h2>
              <p class="my-3 md:my-4 md:text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                placeat, minima quas recusandae dicta explicabo repellendus iste
                fugit molestiae aspernatur. Sunt laborum repudiandae voluptatum
                sapiente cumque obcaecati non commodi laboriosam.
              </p>
              <p
                class="text-primary underline serviceFormBtn font-semibold cursor-pointer"
              >
                REQUEST SERVICE
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row mt-6 gap-3 shadow-xl">
          <div class="md:max-w-[45%] lg:max-w-[38%]">
            <img src="{% static './assets/img/sola.webp' %}" alt="home automation" />
          </div>
          <div class="p-3 md:w-[55%] flex items-center">
            <div>
              <h2 class="font-semibold text-xl md:text-2xl">
                Solar Installation
              </h2>
              <p class="my-3 md:my-4 md:text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                placeat, minima quas recusandae dicta explicabo repellendus iste
                fugit molestiae aspernatur. Sunt laborum repudiandae voluptatum
                sapiente cumque obcaecati non commodi laboriosam.
              </p>
              <p
                class="text-primary underline serviceFormBtn font-semibold cursor-pointer"
              >
                REQUEST SERVICE
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row-reverse mt-6 gap-3 shadow-xl">
          <div class="md:max-w-[45%] lg:max-w-[38%]">
            <img src="{% static './assets/img/cctv.webp' %}" alt="home automation" />
          </div>
          <div class="p-3 md:w-[55%] flex items-center">
            <div>
              <h2 class="font-semibold text-xl md:text-2xl">
                CCTV Installation
              </h2>
              <p class="my-3 md:my-4 md:text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                placeat, minima quas recusandae dicta explicabo repellendus iste
                fugit molestiae aspernatur. Sunt laborum repudiandae voluptatum
                sapiente cumque obcaecati non commodi laboriosam.
              </p>
              <p
                class="text-primary underline serviceFormBtn font-semibold cursor-pointer"
              >
                REQUEST SERVICE
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row mt-6 gap-3 shadow-xl">
          <div class="md:max-w-[45%] lg:max-w-[38%]">
            <img src="{% static './assets/img/idoor.webp' %}" alt="home automation" />
          </div>
          <div class="p-3 md:w-[55%] flex items-center">
            <div>
              <h2 class="font-semibold text-xl md:text-2xl">Indoor Lighting</h2>
              <p class="my-3 md:my-4 md:text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                placeat, minima quas recusandae dicta explicabo repellendus iste
                fugit molestiae aspernatur. Sunt laborum repudiandae voluptatum
                sapiente cumque obcaecati non commodi laboriosam.
              </p>
              <p
                class="text-primary underline serviceFormBtn font-semibold cursor-pointer"
              >
                REQUEST SERVICE
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row-reverse mt-6 gap-3 shadow-xl">
          <div class="md:max-w-[45%] lg:max-w-[38%]">
            <img src="{% static './assets/img/fa.webp' %}" alt="home automation" />
          </div>
          <div class="p-3 md:w-[55%] flex items-center">
            <div>
              <h2 class="font-semibold text-xl md:text-2xl">
                Ceiling Fan Installation
              </h2>
              <p class="my-3 md:my-4 md:text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                placeat, minima quas recusandae dicta explicabo repellendus iste
                fugit molestiae aspernatur. Sunt laborum repudiandae voluptatum
                sapiente cumque obcaecati non commodi laboriosam.
              </p>
              <p
                class="text-primary underline serviceFormBtn font-semibold cursor-pointer"
              >
                REQUEST SERVICE
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ############## END OF SERVICE CONTENT ############-->

    <section></section>
    <section></section>
    <!-- ############## SERVICE request form  ############### -->
    <div
      id="serviceForm"
      class="w-screen h-screen fixed flex hidden items-center justify-center top-0 backdrop-brightness-50 z-40 text-sm"
    >
      <div class="p-5 relative bg-white max-w-[420px] m-3 rounded-lg">
        <span class="absolute cursor-pointer right-4 text-xl serviceFormBtn">
          <i class="fa-solid fa-times"></i>
        </span>
        <div class="flex justify-center">
          <img class="w-24" src="{% static './assets/img/flogo.webp' %}" alt="logo" />
        </div>
        <div
          class="w-full bg-primary bg-opacity-30 rounded-lg mb-4 text-center p-3 text-xs"
        >
          <h1 class="font-bold text-lg">Service Request Form</h1>
          <p>
            Please fill out this form & a member of our team will be in touch
            shortly.
          </p>
        </div>
        <form method="post" enctype="multipart/form-data" class="w-full" id="service-request-form" onsubmit="submitForm(event);">
          {% csrf_token %}
          {{ form.full_name.label_tag }}
          {{ form.full_name }}
          {{ form.email.label_tag }}
          {{ form.email }}
          {{ form.phone_number.label_tag }}
          {{ form.phone_number }}
          <span class="flex justify-between relative mb-2">
            <p class="font-semibold">Send Quotation</p>
            <span id="srf-info-btn"><i class="fa-regular fa-circle-question text-primary"></i></span>
            <div class="absolute bg-primary p-3 rounded-lg top-5 hidden" id="srf-info">
              <h2 class="font-semibold">Send Quotation</h2>
              <p>Have a building drawing you want us to wire, or an estimate you want us to work with, or a sample (CCTV camera, solar panel, etc) of what you require us to install for you? send it via image or PDF</p>
            </div>
          </span>
          {{ form.uploaded_files.label_tag }}
          {{ form.uploaded_files }}
          <p class="text-primary my-2 font-semibold">What service do you require?</p>
          <span class="flex justify-between">
            <label for="{{ form.service_required.id_for_label }}">
              <input type="radio" id="{{ form.service_required.id_for_label }}" name="{{ form.service_required.name }}" value="cctv" {% if form.service_required.value == "cctv" %}checked{% endif %}>
              CCTV Installation
            </label>
            <label for="{{ form.service_required.id_for_label }}">
              <input type="radio" id="{{ form.service_required.id_for_label }}" name="{{ form.service_required.name }}" value="solar" {% if form.service_required.value == "solar" %}checked{% endif %}>
              Solar Installation
            </label>
          </span>
          <span class="flex justify-between my-2">
            <label for="{{ form.service_required.id_for_label }}">
              <input type="radio" id="{{ form.service_required.id_for_label }}" name="{{ form.service_required.name }}" value="home" {% if form.service_required.value == "home" %}checked{% endif %}>
              Home Automation
            </label>
            <label for="{{ form.service_required.id_for_label }}">
              <input type="radio" id="{{ form.service_required.id_for_label }}" name="{{ form.service_required.name }}" value="electrical" {% if form.service_required.value == "electrical" %}checked{% endif %}>
              Electrical Wiring
            </label>
          </span>
        
          <!-- Disable the button and display "Sending" message -->
          <button id="submit-button" style="background-color: #ffaf1d;" class="w-full" type="submit">Submit Request</button>
        </form>
      </div>
    </div>
    <!-- ############## END OF service request form ############### -->

    <!-- ############## FOOTER ################ -->
    {% include "components/footer.html" %}
    <script>
      function submitForm(event) {
        event.preventDefault(); // Prevent the default form submission behavior
    
        // Show "Sending" message
        const submitButton = document.querySelector('#submit-button');
        submitButton.innerHTML = 'Sending Please Wait!...';
        submitButton.style.backgroundColor = '#454a4a'; // Change the background color
        submitButton.disabled = true;
    
        // Submit the form
        const form = document.querySelector('#service-request-form');
        form.submit();
      }
    </script>
  </body>

  <script src="{% static './assets/vendor/all.min.js' %}"></script>
  <script src="{% static './assets/scripts/app.js' %}"></script>
</html>
