@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black bg-white;
  }
  section {
    @apply py-[28px] lg:py-[45px];
  }
  .pad {
    @apply px-[1.5rem] md:px-[3rem] lg:px-[5rem] max-w-[1350px] mx-auto;
  }
  button {
    @apply py-2 px-7 font-semibold bg-primary rounded-lg hover:bg-grey flex items-center gap-3;
  }
  label {
    @apply font-semibold;
  }
}

/* ######### TESTIMONIAL SLIDER ######## */
.wrapper {
  background-color: #ffffff;
  width: 80vw;
  max-width: 41em;
  border-radius: 0.6em;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  display: flex;
}
.testimonial-container {
  width: 85%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.8em 1.2em;
}
.wrapper button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
button#next {
  right: -1.1em;
}
button#prev {
  left: -1.1em;
}
.testimonial-container p {
  color: #8c8c90;
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  width: 4.4em;
}
.testimonial-container h3 {
  color: #2d3d67;
  font-size: 1em;
  text-align: center;
}
.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}
.slide {
  transition: transform 1s ease-in-out;
}
@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 14px;
  }
}

/* ############### END TESTIMONIAL SLIDER ############ */

/* ############ TEAM SLIDER #########3 */
.twrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.twrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.twrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.twrapper i:first-child{
  left: -22px;
}
.twrapper i:last-child{
  right: -22px;
}
.twrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.carousel .card {
  scroll-snap-align: start;
  /* height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px; */
}
/* .carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
} */

@media screen and (max-width: 900px) {
  .twrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .twrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* ############ END TEAM SLIDER #########3 */


