@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black bg-white;
  }
  section {
    @apply py-[28px] lg:py-[45px];
  }
  .pad {
    @apply px-[1.5rem] md:px-[3rem] lg:px-[5rem] max-w-[1350px] mx-auto;
  }
  button {
    @apply py-2 px-7 font-semibold bg-primary rounded-lg hover:bg-grey flex items-center gap-3 justify-center text-white;
  }
  label {
    @apply font-semibold;
  }
}

/* ######### TESTIMONIAL SLIDER ######## */
.wrapper {
  background-color: #ffffff;
  width: 80vw;
  max-width: 41em;
  border-radius: 0.6em;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  display: flex;
}
.testimonial-container {
  width: 85%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.8em 1.2em;
}
.wrapper button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
button#next {
  right: -1.1em;
}
button#prev {
  left: -1.1em;
}
.testimonial-container p {
  color: #8c8c90;
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  width: 4.4em;
}
.testimonial-container h3 {
  color: #2d3d67;
  font-size: 1em;
  text-align: center;
}
.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}
.slide {
  transition: transform 1s ease-in-out;
}
@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 14px;
  }
}

/* ############### END TESTIMONIAL SLIDER ############ */


